.container {
  display: flex;
  flex-direction: column;
  gap: 30px;

  .item {
    display: flex;
    align-items: center;

    .detail {
      flex: 2;
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 40px;

      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        h3 {
          font-size: 26px;
          font-weight: 500;
          margin-bottom: 0;
        }
        .user_img {
          position: relative;
          overflow: hidden;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
        }
      }
    }
    .content_img {
      flex: 1.5;
      height: 300px;
      position: relative;
    }
  }
  p{
    line-height: 24px;
    text-align: justify;
  }
}
